{% extends 'student/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section id="main-content">
    <div class="wrapper">
            <div class="col-sm-8 col-xs-12 col-sm-offset-2">
            <div class="text-center">
                <h1 class="hdrcolorbg">
                    Add Designation
                </h1>
            </div>
            <form class="frmbgg clear-fx" action="." method="post">
                <div class="row">
                {% csrf_token %}
                <div class="form-group col-sm-4 col-xs-12">
                    {{ form.name| as_crispy_field}}
                </div>
                <div class="form-group col-sm-4 col-xs-12">
                    {{ form.short_name| as_crispy_field}}
                </div>
                <button type="submit" class="btn btn-info save">Create</button>
            </div>
            </form>
        </div>
    </div>
</section>

{% endblock content %}