*.pyc
*~
*.swp
student_admin/settings.py
student/migrations/*.*
employee/migrations/*.*
feeplan/migrations/*.*
feemanagement/migrations/*.*
academics/migrations/*.*
user/migrations/*.*
db.sqlite3
media/
lesson_attendance/migrations/*.*
academics/__pycache__/
coursemanagement/migrations/*.*
student_admin/local_settings.py
exam/migrations/*.*
librarymanagement/migrations/*.*
librarymanagement/__pycache__/
hostel/migrations/*.*
hostel/__pycache__/