{% extends 'student/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section id="main-content">
    <div class="wrapper">
            <div class="col-sm-12 col-xs-12 col-sm-offset-0">
            <div class="text-center">
                <h1 class="hdrcolorbg">
                   Subject Lesson Plan
                </h1>
            </div>
            <form class="frmbgg clear-fx" action="." method="post"  id="lessonPlan" data-course-url="{% url 'ajax_load_course' %}" data-batch-url="{% url 'ajax_load_batch' %}" data-semestar-url="{% url 'ajax_load_sem' %}" data-subject-url="{% url 'ajax_load_subject' %}" data-lesson-url="{% url 'ajax_load_lesson' %}">
                <div class="row">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group col-sm-4 col-xs-12">
                        {{ form.stream| as_crispy_field}}
                    </div>
                    <div class="form-group col-sm-4 col-xs-12">
                        {{ form.course| as_crispy_field}}
                    </div>
                    <div class="form-group col-sm-4 col-xs-12">
                        {{ form.batch| as_crispy_field}}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4 col-xs-12">
                        {{ form.semestar| as_crispy_field}}
                    </div>
                    <div class="form-group col-sm-8 col-xs-12">
                        {{ form.subject| as_crispy_field}}
                    </div>                   
                </div>

                <div class="row" id="lesson">
                    
                </div>               
                <button type="submit" class="btn btn-info save">Submit Plan</button>
            </div>
            </form>
        </div>
    </div>
</section>
<script type="text/javascript">
    $("#id_stream").change(function(){
        var url=$("#lessonPlan").attr("data-course-url");
        var stream_id=$(this).val();
        $.ajax({
            url:url,
        data:{
            'stream':stream_id,
        },
        success:function(data){
            $("#id_course").html(data);
        }
        });
    });
    $("#id_course").change(function(){
        var url=$("#lessonPlan").attr("data-batch-url");
        var course_id=$(this).val();
        $.ajax({
            url:url,
            data:{
                'course':course_id,
            },
            success:function(data){
                $("#id_batch").html(data);
            }
        });
    });
    $("#id_batch").change(function(){
        var url=$("#lessonPlan").attr("data-semestar-url");
        var batch_id=$(this).val();
        var course_id=$("#id_course").val();
        var stream_id = $("#id_stream").val();
        $.ajax({
            url:url,
            data:{
                'batch_id': batch_id,
                'course':course_id,
                'stream_id': stream_id,
            },
            success:function(data){
                $("#id_semestar").html(data);
            }
        });
    });
    $("#id_semestar").change(function(){
        var url=$("#lessonPlan").attr("data-subject-url");
        var semestar_id =$(this).val();
        $.ajax({
            url:url,
            data:{
                'semestar_id': semestar_id,
            },
            success:function(data){
                $("#id_subject").html(data);
            }
        });
    });
    $("#id_subject").change(function(){
        console.log("Hello");
        var url=$("#lessonPlan").attr("data-lesson-url");
        var subject_id =$(this).val();
        console.log(subject_id)
        $.ajax({
            url:url,
            data:{
                'subject_id': subject_id,
            },
            success:function(data){
                $("#lesson").html(data);
            }
        });
    });
    
</script> 

{% endblock content %}