{% load crispy_forms_tags %}
 
<div class="form-group col-sm-1 col-xs-12">
    {{ form.class_number| as_crispy_field}}
</div>
<div class="form-group col-sm-2 col-xs-12">
    {{ form.from_time| as_crispy_field}}
</div>
<div class="form-group col-sm-2 col-xs-12">
    {{ form.to_time| as_crispy_field}}
</div>
<div class="form-group col-sm-2 col-xs-12">
    {{ form.duration| as_crispy_field}}
</div>
<div class="form-group col-sm-2 col-xs-12">
    {{ form.topic| as_crispy_field}}
</div>
<div class="form-group col-sm-3 col-xs-12">
    {{ form.remark| as_crispy_field}}
</div>