<aside>
    <div id="sidebar" class="nav-collapse">
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a href="/">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">  
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <span>Student Management</span>
                    </a>
                    <ul class="sub"> 
                        <!-- <li><a href="/admissionfrm">Student Admission</a></li> -->
                        <!-- <li><a href="/studentadmissionlist">Student Admission Details</a></li> -->
                        <li><a href="/applicantfrm">Student Application Form</a></li>
                        <li><a href="/studentadmissionform">Student Admission Form</a></li>
                        <li><a href="/student-list">Student List</a></li>
                        <li><a href="/student_enroll_list">Enroll Student</a></li>
                        <li><a href="/enrollstudentlistview">Enrolled Student List</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span>Employee Management </span>
                    </a>
                    <ul class="sub" id="emp1">
                        <li><a href="{% url 'employee_create'%}">Employee Create Form</a></li>
                        <li><a href="/employee">Manage Employee</a></li>                                        
                    </ul>
                </li>
                <li class="sub-menu">
                        <a href="javascript:;" class="">
                           <i class="fa fa-book" aria-hidden="true"></i>
                            <span>Admission Management </span>
                        </a>
                        <ul class="sub">
                            <li><a href="#">Student Admission</a></li>
                            <li><a href="#">Manage Employee</a></li>                                             
                        </ul>
                    </li>
                <li class="sub-menu" id="enqry">
                        <a href="javascript:;" class="">
                            <i class="fa fa-share" aria-hidden="true"></i>
                            <span>Enquiry</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/enquiry">Enquiry</a></li>  
                            <li><a href="/applicantfrm">Take An Enquiry</a></li>                                     
                        </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <span>Course Management </span>
                    </a>
                    <ul class="sub"  id="strm1">
                        <li><a href="{% url 'stream_list' %}">Stream</a></li>
                        <li><a href="{% url 'course_list' %}">Course</a></li>
                        <li><a href="{% url 'batch_list' %}">Batch</a></li>
                                        
                    </ul>
                </li>
                <li class="sub-menu" id="fee">
                    <a href="javascript:;" class="">
                        <i class="fa fa-inr" aria-hidden="true"></i>
                        <span>Fees Management </span>
                    </a>
                    <ul class="sub" id="fee1">                        
                        
                        <!-- <li><a href="{% url 'feestype_create' %}">Fees Type Create</a></li> 
                        <li><a href="{% url 'feeplan_list' %}">Fees List</a></li>
                        <li><a href="{% url 'feeplan_create' %}">Fees SetUp</a></li>                   -->
                        <li><a href="{% url 'collect_student_fee' %}">Collect Student Fee</a></li>                  
                        <li><a href="{% url 'student_enroll_list' %}">Enroll From Student List</a></li>                  
                        <li><a href="/moneyreceiptdetails/">Money Receipt Details</a></li>                  
                        <!-- <li><a href="{% url 'batch_list' %}">Batch</a></li>
                        <li><a href="{% url 'section_list' %}">Section</a></li> -->                        
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Academics </span>
                    </a>                        
                    <ul class="sub">
                        <li><a href="#">Academics Plan</a></li>
                        <li><a href="#">Course Plan</a></li>
                        <li><a href="#">Batch Plan</a></li>                        
                        <li><a href="#">Elective Subjects Plan</a></li>
                        <li><a href="/semestar/">Semestar</a></li>
                        <li><a href="{% url 'section_list' %}">Section</a></li>   
                        <li><a href="/subject/">Subject</a></li>
                        <li><a href="/subject_teacher/">Assign Subject</a></li>
                        <li><a href="/student_section_list/">Section Student</a></li>
                        <li><a href="/attendance/">Take Attendance</a></li>
                        <li><a href="/student_section_assign/">Allot Student Section</a></li>
                        <li><a href="/class_timing_setting/">Set Time Table</a></li>
                        <li><a href="/student_time_table_load/">Student Time Table</a></li>
                        <li><a href="/teacher_time_table_load/">Teacher Time Table</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-envelope"></i>
                        <span>MIS </span>
                    </a>
                    <ul class="sub">
                        <li><a href="/student-list">Approve Student Details</a></li>                        
                    </ul>
                </li> 
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-envelope"></i>
                        <span>Hostel Admin</span>
                    </a>
                    <ul class="sub">
                        <li><a href="/hostel_list">Setup</a></li>
                        <li><a href="/staff_designation_list">Staff Designation</a></li>
                        <li><a href="/hostel_staff_list">Hostel staffs</a></li>
                        <li><a href="/hostel_room_list">Hostel Room</a></li>
                        <li><a href="/room_allotment">Room allotment</a></li>
                        <li><a href="#">Bed allotment</a></li>
                        <li><a href="#">Transfer</a></li>
                    </ul>
                </li> 
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-envelope"></i>
                        <span>Exam Section</span>
                    </a>
                    <ul class="sub">
                        <li><a href="/examtype_create">Exam Type Setting</a></li>
                        <li><a href="/examtype_list">Exam Type list</a></li>
                        <li><a href="/course_exam_setting">Course Type Setting</a></li>
                        <li><a href="/subjectexamlist">Subject Exam List</a></li>
                        <li><a href="/subject_exam_create">Subject Exam Create</a></li>
                        <li><a href="/exam_attendance">Exam Attendance</a></li>
                        <li><a href="/mark_entry">Exam Mark Entry</a></li>                        
                    </ul>
                </li> 
                <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-envelope"></i>
                            <span>Library Section</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/product_category_list">Product Category Setting</a></li>
                            <li><a href="/booktypeformlist">Book Type Setting</a></li>
                            <li><a href="/room_list">Room Setting</a></li>
                            <li><a href="/selve_list">Self Setting</a></li>
                            <li><a href="/location_list">Location Setting</a></li>
                            <li><a href="/library_create">Library Setting</a></li>
                            <li><a href="#">Genre Type Setting</a></li>
                            <li><a href="#">Book Category Setting</a></li>
                            <li><a href="/vendor_list">Vendors Setting</a></li>
                            <li><a href="/purchase_order_list">Purchase Orders Setting</a></li>
                            <li><a href="#">Stock Verify [library items]</a></li>
                            <li><a href="/book_list">Book Stock List</a></li>
                            <li><a href="/journal_list">Journal Stock List</a></li>
                            <li><a href="/magazine_list">Magazine Stock List</a></li>
                            <li><a href="/ebook_list">Ebook Stock List</a></li>
                            <li><a href="#">Access Management</a></li>
                            <li><a href="#">Barcode Generation</a></li>                         
                            <li><a href="#">Accession</a></li>                         
                            <li><a href="#">Issue a book</a></li>                    
                            <li><a href="#">Return a book</a></li>                    
                            <li><a href="#">Re-Issue a book</a></li>                    
                            <li><a href="#">Search book history</a></li>
                            <li><a href="#">Payment History</a></li>
                            <li><a href="#">Fine/ Due Collection</a></li>
                        </ul>
                    </li> 
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-envelope"></i>
                        <span>Mail </span>
                    </a>
                    <ul class="sub">
                            <li><a href="#">Student Details</a></li>
                        <li><a href="#">Compose Mail</a></li>
                        <li><a href="#">View Mail</a></li>
                    </ul>
                </li>              
            </ul>
        </div>
    </div>
</aside>

<script src="/static/js/app.min.js"></script>