{% extends 'student/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<section id="main-content">
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="hdr">
                    Student Admission
                </h1>
                <div class="panel">
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-3 text-center">
                            <!-- <div class="row">
                            <ul class="list-group">
                                <li class="list-group-item text-center">
                                    <img src="{{object.student_pic.url}}" alt="" class=" avtar img-profile img-responsive" style="padding-left:0px; "/>
                                </li>
                                <li class="list-group-item text-right">
                                    <span class="pull-left">
                                        <strong>Student Id</strong>
                                        </span>{{object.id}}
                                </li>
                                <li class="list-group-item text-right gry">
                                    <span class="pull-left">
                                        <strong>Name</strong>
                                    </span>{{object.first_name}}  {{object.middle_name}}  {{object.last_name}}
                                </li>
                                <li class="list-group-item text-right">
                                    <span class="pull-left">
                                    <strong>D.O.B</strong>
                                    </span>{{object.date_of_birth}}
                                </li>
                                <li class="list-group-item text-right gry">
                                    <span class="pull-left">
                                        <strong>Blood Group</strong>
                                    </span>{{object.blood_group}}
                                </li>
                                <li class="list-group-item text-right">
                                    <span class="pull-left">
                                    <strong>Gender</strong>
                                    </span>{{object.gender}}
                                </li>
                                <li class="list-group-item text-right">
                                    <span class="pull-left">
                                    <strong>Aadhar Number</strong>
                                    </span>{{object.aadhar_number}}
                                </li>
                                <li class="list-group-item text-right">
                                    <span class="pull-left">
                                    <strong>Caste</strong>
                                    </span>{{object.caste}}
                                </li>
                                <li class="list-group-item text-right gry">
                                    <span class="pull-left">
                                        <strong>Status</strong>
                                    </span><button class="activbtn">Active</button>
                                </li>
                            </ul>
                        </div> -->
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <div class="tab_wrapper first_tab">
                                <ul class="tab_list">
                                    <!-- <li class=""><i class="fa fa-info" aria-hidden="true"></i> ENROLLMENT</li> -->
                                    <li><i class="fa fa-male active" aria-hidden="true"></i> ENROLLMENT INFO</li>
                                    <!-- <li><i class="fa fa-book"></i> ACADEMIC Info</li>
                                    <li><i class="fa fa-user" aria-hidden="true"></i> GUARDIANS</li>
                                    <li><i class="fa fa-home" aria-hidden="true"></i> ADDRESS</li>
                                    <li><i class="fa fa-file" aria-hidden="true"></i> DOCUMENTS</li> -->
                                    <!-- <li><i class="fa fa-inr" aria-hidden="true"></i> FEES PLAN</li> -->
                                </ul>
                                <div class="content_wrapper">
                                    <!-- <div class="tab_content active">
                                        <form role="form" method="GET">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-sm-12 col-xs-12">
                                                    <div class="form-group col-sm-6 col-xs-12">
                                                        <label for="exampleInputEmail1">Enroll Department</label>
                                                            
                                                        <input type="text" class="form-control" placeholder="Enroll Department">
                                                    </div>
                                                    <div class="form-group col-sm-6 col-xs-12">
                                                        <label for="exampleInputPassword1">Enroll Course</label>
                                                        
                                                        <input type="text" class="form-control" placeholder="Enroll Course">
                                                    </div>
                                                    <div class="form-group col-sm-6 col-xs-12">
                                                        <label for="exampleInputEmail1">Registration No.</label>
                                                       
                                                        <input type="text" class="form-control" placeholder="Registration No." >
                                                    </div>
                                                    <div class="form-group col-sm-6 col-xs-12" id="datetimepicker1" data-target-input="nearest">
                                                            <label for="exampleInputEmail1">Date Of Admission</label>
                                                           
                                                        <input type="date" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                                                       
                                                      </div>
                                                   
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-info edit"><a href="">Enroll This Student</a>></button>
                                            <button type="submit" class="btn btn-info subbtn">Edit Student Data</button>
                                        </form>
                                    </div> -->
                                    <div class="tab_content">
                                        
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="exampleInputEmail1">Name</label>
                                                    <input type="text" class="form-control" placeholder="Name" value="{{object.student_name}}">
                                                   
                                                </div>
                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="exampleInputPassword1">Enrollment Number</label>
                                                    <input type="text" class="form-control" placeholder="Enrollment Number" value=" {{object.enrollment_number}} ">
                                                   
                                                </div>
                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="exampleInputEmail1">Stream</label>
                                                    <input type="text" class="form-control" placeholder="Stream" value="{{ object.stream }}">
                                                </div>
                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="exampleInputPassword1">Course</label>
                                                    <input type="text" class="form-control" placeholder="Course" value="{{ object.course }}">
                                                </div>
                                                <!-- <div class="form-group col-sm-6 col-xs-12">
                                                    <div class="col-sm-12">
                                                        <label class="row col-form-label">
                                                            Gender
                                                        </label>
                                                    </div>
                                                    <div class="radio minimal rdr">
                                                        <input tabindex="3" type="radio" name="demo-radio">
                                                        <label>Male</label>
                                                    </div>
                                                    <div class="radio minimal rdr">
                                                        <input tabindex="3" type="radio" name="demo-radio">
                                                        <label>Female</label>
                                                    </div>
                                                </div> -->
                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="exampleInputPassword1">Batch</label>
                                                    <input type="text" class="form-control" placeholder="Batch" value="{{ object.batch }}">
                                                </div>
                                                <div class="form-group col-sm-6 col-xs-12">
                                                    <label for="exampleInputPassword1">Date Of Admission</label>
                                                    <input type="text" class="form-control" placeholder="Date Of Admission"value="{{ object.date_of_admission }}">
                                                </div>
                                               
                                                
                                            </div>
                                            <button type="submit" class="btn btn-info edit"><a href="{% url 'student_list'%}">Go To Home Page</a></button>
                                    </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                    
        </div>
    </div>
</section>        



<!--js-->

<!-- sidebar_dropdown -->
<script src="{% static 'js/jquery.dcjqaccordion.2.7.js' %}"></script>
<script src="{% static 'js/jquery.nicescroll.js' %}"></script>
<!--common_script-->
<script src="{% static 'js/scripts.js' %}"></script>
<!-- add_row_js -->
<script>
$(document).ready(function () {
    $(".addCF").click(function () {
        $(".mytable").each(function () {
            var tds = '<tr>';
            jQuery.each($('tr:last td', this), function () {
                tds += '<td>' + $(this).html() + '</td>';
            });
            tds += '</tr>';
            if ($('tbody', this).length > 0) {
                $('tbody', this).append(tds);
            } else {
                $(this).append(tds);
            }
        });
    });
});
$("#dataTable").on('click', '.remCF', function () {
    $(this).parent().parent().remove();
});
$(document).ready(function () {
    $(".addCF1").click(function () {
        $(".mytable1").each(function () {
            var tds = '<tr>';
            jQuery.each($('tr:last td', this), function () {
                tds += '<td>' + $(this).html() + '</td>';
            });
            tds += '</tr>';
            if ($('tbody', this).length > 0) {
                $('tbody', this).append(tds);
            } else {
                $(this).append(tds);
            }
        });
    });
});
$("#dataTable1").on('click', '.remCF', function () {
    $(this).parent().parent().remove();
});
</script> 
<!-- tab_js -->
<script src="{% static 'js/jquery.multipurpose_tabcontent.js' %}"></script>
<script type="text/javascript">
$(document).ready(function () {
    $(".first_tab").champ();

    //$(".accordion_example").champ({
    //    plugin_type: "accordion",
    //    side: "left",
    //    active_tab: "3",
    //    controllers: "true"
    //});
    //$(".second_tab").champ({
    //    plugin_type: "tab",
    //    side: "right",
    //    active_tab: "1",
    //    controllers: "false"
    //});
    //$(".third_tab").champ({
    //    plugin_type: "tab",
    //    side: "",
    //    active_tab: "4",
    //    controllers: "true",
    //    ajax: "true",
    //    show_ajax_content_in_tab: "4",
    //    content_path: "html.txt"
    //});

    $(".multipleTab").champ({
        //plugin_type :  "accordion",
        multiple_tabs: "true"
    });
});
</script>    
  <script>
    $(function () {
      $("#datetimepicker1").datetimepicker();
    });
  </script>
{% endblock content %}