{% extends 'student/base.html' %}
{% load static %}
{% block content %}
        <section id="main-content">
            <div class="wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel">
                            <header class="panel-heading">
                                Student Admission Details
                            </header>
                            <div class="panel-body" style="overflow-x:auto;">
                                <table class="table table-bordered table-striped table-condensed">
                                    <thead>
                                        <tr class="hdclr">
                                            <th>Sl No.</th>
                                            <th>Student Name</th>
                                            <th>Phone</th>
                                            <th>Email</th>
                                            <th>Gender</th>
                                            <th>D.O.B</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>01</td>
                                            <td>Akash</td>
                                            <td>7657893452</td>
                                            <td>Akash@gmail.com</td>
                                            <td>Male</td>
                                            <td>16.04.1989</td>
                                            <td>
                                                <a href="#" class="social-icon">
                                                    <i class="fa fa-eye vieww"></i>
                                                    <div class="tooltip">View</div>
                                                </a>
                                                <a href="#" class="social-icon">
                                                    <i class="fa fa-pencil editt"></i>
                                                    <div class="tooltip">Edit</div>
                                                </a>
                                                <a href="#" class="social-icon">
                                                    <i class="fa fa-trash-o deletee"></i>
                                                    <div class="tooltip">Deletee</div>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>02</td>
                                            <td>Akash</td>
                                            <td>7657893452</td>
                                            <td>Akash@gmail.com</td>
                                            <td>Male</td>
                                            <td>16.04.1989</td>
                                            <td>
                                                <a href="#" class="social-icon">
                                                    <i class="fa fa-eye vieww"></i>
                                                    <div class="tooltip">View</div>
                                                </a>
                                                <a href="#" class="social-icon">
                                                    <i class="fa fa-pencil editt"></i>
                                                    <div class="tooltip">Edit</div>
                                                </a>
                                                <a href="#" class="social-icon">
                                                    <i class="fa fa-trash-o deletee"></i>
                                                    <div class="tooltip">Deletee</div>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>03</td>
                                            <td>Akash</td>
                                            <td>7657893452</td>
                                            <td>Akash@gmail.com</td>
                                            <td>Male</td>
                                            <td>16.04.1989</td>
                                            <td>
                                                <a href="#" class="social-icon">
                                                    <i class="fa fa-eye vieww"></i>
                                                    <div class="tooltip">View</div>
                                                </a>
                                                <a href="#" class="social-icon">
                                                    <i class="fa fa-pencil editt"></i>
                                                    <div class="tooltip">Edit</div>
                                                </a>
                                                <a href="#" class="social-icon">
                                                    <i class="fa fa-trash-o deletee"></i>
                                                    <div class="tooltip">Deletee</div>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>        
    </section>

{% endblock content %}
