{% extends 'student/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<section id="main-content">
    <div class="wrapper">
        <div class="col-sm-12 col-xs-12 col-sm-offset-0">
            <div class="text-center">
                <h1 class="hdrcolorbg">
                   College Setup Form
                </h1>
            </div>
            <form class="frmbgg clear-fx"  method="post">
                <div class="row">
                    {% csrf_token %}
                    <div class="form-group col-sm-3 col-xs-12">
                        <label>College Name</label>
                        {{ form.name}}
                    </div>
                    <div class="form-group col-sm-3 col-xs-12">
                        <label>Website Link</label>                        
                        {{ form.website}}
                    </div>  
                    <div class="form-group col-sm-3 col-xs-12">
                        <label>Email</label>
                        {{ form.email}}
                    </div>
                    <div class="form-group col-sm-3 col-xs-12">
                        <label>Date Of Establishment</label>
                        {{ form.date_of_esthablishment}}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-3 col-xs-12">
                        <label>Principal</label>
                        {{ form.principal}}
                    </div>
                    <div class="form-group col-sm-3 col-xs-12">
                        <label>Affiliated To</label>
                        {{ form.affiliated_body}}
                    </div>                    
                    <div class="form-group col-sm-3 col-xs-12">
                        <label>Approved By</label>
                        {{ form.approval}}
                    </div>
                    <div class="form-group col-sm-3 col-xs-12">
                        <label>Accredited By</label>
                        {{ form.accredited_body}}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-3 col-xs-12">
                        <label>Contact Person Name</label>
                        {{ form.contact_person_name}}
                    </div> 
                    <div class="form-group col-sm-3 col-xs-12">
                        <label>Contact Person Number</label>
                        {{ form.contact_person_number}}
                    </div>                        
                    <div class="form-group col-sm-3 col-xs-12">
                        <label>Upload Logo</label>                        
                        {{ form.logo}}
                    </div>  
                    <div class="form-group col-sm-3 col-xs-12">
                        <label>Address</label>                        
                        {{ form.address}}
                    </div>                   
                </div>
                <button class="btn btn-info save">Submit</button>
            </form>
        </div>
    </div>
</section>
<script type="text/javascript">
    $("#id_stream").change(function(){
        var url=$("#assignSubjectTeacherForm").attr("data-course-url");
        var stream_id=$(this).val();
        $.ajax({
            url:url,
        data:{
            'stream':stream_id,
        },
        success:function(data){
            $("#id_course").html(data);
        }
        });
    });
    $("#id_course").change(function(){
        var url=$("#assignSubjectTeacherForm").attr("data-batch-url");
        var course_id=$(this).val();
        $.ajax({
            url:url,
            data:{
                'course':course_id,
            },
            success:function(data){
                $("#id_batch").html(data);
            }
        });
    });
    $("#id_batch").change(function(){
        var url=$("#assignSubjectTeacherForm").attr("data-semestar-url");
        var batch_id=$(this).val();
        var course_id=$("#id_course").val();
        var stream_id = $("#id_stream").val();
        $.ajax({
            url:url,
            data:{
                'batch_id': batch_id,
                'course':course_id,
                'stream_id': stream_id,
            },
            success:function(data){
                $("#id_semestar").html(data);
            }
        });
    });
    $("#id_semestar").change(function(){
        var url=$("#assignSubjectTeacherForm").attr("data-subject-url");
        var semestar_id = $(this).val();
        var batch_id=$("#id_batch").val();
        var course_id=$("#id_course").val();
        var stream_id = $("#id_stream").val();
        $.ajax({
            url:url,
            data:{
                'semestar_id':semestar_id,
                'batch_id': batch_id,
                'course':course_id,
                'stream_id': stream_id,
            },
            success:function(data){
                $("#id_subject").html(data);
            }
        });
    });
    $("#id_subject").change(function(){
        var subject_id = $(this).val();
        var semestar_id = $("#id_semestar").val();
        var batch_id=$("#id_batch").val();
        var course_id=$("#id_course").val();
        var stream_id = $("#id_stream").val();
        $.ajax({
            url:'/load_subject_exam/',
            data:{
                'semestar_id':semestar_id,
                'batch_id': batch_id,
                'course':course_id,
                'stream_id': stream_id,
                'subject_id':subject_id,
            },
            success:function(data){
                $("#id_exam").html(data);
            }
        });
    });
    $("#id_exam").change(function(){
        console.log("exam loads here");
        var exam_id = $("#id_exam").val();
        var semestar_id = $("#id_semestar").val();
        var batch_id=$("#id_batch").val();
        var course_id=$("#id_course").val();
        var stream_id = $("#id_stream").val();
        var subject_id = $("#id_subject").val();
        $.ajax({
            url:'/load_date_on_subject_load/',
            data:{
                'semestar_id':semestar_id,
                'batch_id': batch_id,
                'course':course_id,
                'stream_id': stream_id,
                'subject_id':subject_id,
                'exam_id':exam_id,
            },
            success:function(data){
                $("#id_date").html(data);
                console.log("data comes here");
            }
        });
    });
    $("#id_date").change(function(){
        console.log("mark entry starts here");        
        var date_id = $(this).val();
        var exam_id = $("#id_exam").val();
        var subject_id = $("#id_subject").val();
        var semestar_id = $("#id_semestar").val();
        var batch_id=$("#id_batch").val();
        var course_id=$("#id_course").val();
        var stream_id = $("#id_stream").val();
        let date_sending = new Date(date_id);
        let formatted_date = date_sending.getFullYear()+"-"+(date_sending.getMonth()+1)+"-"+date_sending.getDate();
        console.log(formatted_date);
        $.ajax({
            url:"/mark_entry_ajax/",
            type:'POST',
            data:{
                'semestar_id':semestar_id,
                'batch_id': batch_id,
                'course':course_id,
                'stream_id': stream_id,
                'subject_id':subject_id,
                'exam_id':exam_id, 
                'date_id':date_id,         
            },
            success:function(data){              
                $("#marks_entry").val(data.mark_obj_list);
                var tableString = "";
                if(data.mark_obj_list.length === 0) {
                    tableString = "<tr><td></td><td>No Data Available.</td><td></td></tr>";
                }
                else {
                    for(var i=1;i<= data.mark_obj_list.length;i++){
                        tableString += "<tr><td>"+ i +"</td><td>" + data.mark_obj_list[i-1].enrollment_number + "</td>";                                      
                        tableString += "<input type=\"hidden\" id=\"exam_attendance_name"+i+"\" value=\""+data.mark_obj_list[i-1].id+"\">" + data.mark_obj_list[i-1].enrollment_number + "</td>";    
                        // tableString += "<td>"+data.mark_obj_list[i-1].enrollment_number.student_name.first_name + "</td>";   
                        tableString += "<td><select name=\"attendance\" id=\"nums"+i+"\">";                        
                        tableString += "<option value=\"P\">P</option><option value=\"A\">A</option><option value=\"L\">L</option></select></td>";
                        tableString += "<td><input type=\"text\" id=\"attendance_marks"+i+"\"  placeholder=\" Enter marks\"></td>";
                        tableString += "<td><input type=\"text\" id=\"attendance_remarks"+i+"\"  placeholder=\" Enter remarks\"></td>";
                        tableString += "</tr>";
                        // var nums =  "#nums"+i;
                        // var nums_id = $(nums).val();
                        // var attendance_marks = "#attendance_marks"+i;         
                        // var attendance_marks_id = $(attendance_marks).val();
                        
                    }                                          
                }
                
                console.log(tableString);
                $("#marks_entry").html(tableString);
                $("#total_count").val(data.mark_obj_list.length);
            }
        });
  });
    
    $("#submit_attn").on('click', function(){
        console.log("coming here to save part");
        var semestar = $('#id_semestar').val();
        var subject = $('#id_subject').val();
        var exam = $('#id_exam').val();
        var total_count = $('#total_count').val();
        var date = $('#date').val();
        if(total_count>0)
        {
            var attn_list = new Array();
            for(i=1;i<=total_count;i++){
                var exam_attendance = "#exam_attendance_name"+i;
                var exam_attendance_id = $(exam_attendance).val();
                var nums = "#nums"+i;
                var nums_id = $(nums).val();
                var attendance_marks = "#attendance_marks"+i;
                var attendance_marks_id = $(attendance_marks).val();
                var attendance_remarks = "#attendance_remarks"+i;
                var attendance_remarks_id = $(attendance_remarks).val();
                attn_list.push({ "exam_attendance_id":exam_attendance_id, "nums_id": nums_id,'attendance_marks_id':attendance_marks_id, 'attendance_remarks_id':attendance_remarks_id});
                console.log(attn_list);
            }
            $.ajax(
            { 
                method: "POST",
                url:"/save_mark_entry/",
                data:{
                    'attn_list':attn_list,
                    'total_count':total_count,
                    'semestar':semestar,
                    'subject':subject,
                    'exam':exam,                
                },
                success:function(data){
                    if(data.msg=="success"){
                        alert(data.msg);                   
                    } 
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                        alert("Status: " + textStatus); alert("Error: " + errorThrown); 
                    }
            });
        }        
    });    
    function getCookie(c_name) {
        if (document.cookie.length > 0)
        {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1)
            {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start,c_end));
            }
        }
        return "";
    }
    $(function(){
        $.ajaxSetup({
            headers:{"X-CSRFToken":getCookie('csrftoken')}
        });
    });
</script>
{% endblock content %}