<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr class="hdclr">
            <th>Fee Type</th>
            <th colspan="2">Actual Fee</th>
            <th colspan="2">Approved Fee</th>
            <th>Action</th>
        </tr>
        <tr class="hdclr">
            <th></th>
            <th>Amount</th>
            <th>Installment</th>
            <th>Amount</th>
            <th>Installment</th>
            <th>
                <button type="button" value="1St" class="vwert2rg bt1">1St</button>
                <button type="button" value="2nd" class="vwert2rg bt2">2nd</button>
                <button type="button" value="3rd" class="vwert2rg">3rd</button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>01</td>
            <td>Akash</td>
            <td>7657893452</td>
            <td>
                <div class="form-group col-sm-12 col-xs-12">
                    <input type="text" class="form-control" placeholder="Fee Type">
                    <button type="submit" class="btn btn-default okbtn">Ok</button>
                </div>
            </td>
            <td>
                <div class="form-group col-sm-12 col-xs-12">
                    <input type="text" class="form-control" placeholder="Fee Type">
                    <button type="submit" class="btn btn-default okbtn">Ok</button>
                </div>
            </td>
            <td>
                <div class="panel-body collapse cls1" id="demo" aria-expanded="false">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-group col-sm-6 col-xs-12">
                                <label for="exampleInputEmail1" class="trm">Fee Type</label>
                                <input type="text" class="form-control" placeholder="Fee Type">
                            </div>
                            <div class="form-group col-sm-6 col-xs-12">
                                <label for="exampleInputEmail1" class="trm">Date</label>
                                <input type="text" class="form-control" placeholder="Date">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default okbtn">Ok</button>
                            <button type="button" class="btn btn-default cnlbtn" data-toggle="collapse">Cancel</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body collapse cls2" id="demo2" aria-expanded="false">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-group col-sm-6 col-xs-12">
                                <label for="exampleInputEmail1" class="trm">Fee Type</label>
                                <input type="text" class="form-control" placeholder="Fee Type">
                            </div>
                            <div class="form-group col-sm-6 col-xs-12">
                                <label for="exampleInputEmail1" class="trm">Date</label>
                                <input type="text" class="form-control" placeholder="Date">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default okbtn">Ok</button>
                            <button type="button" class="btn btn-default cnlbtn cnl2" data-toggle="collapse">Cancel</button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>                                       
    </tbody>
</table>