{% extends 'student/base.html' %}
{% load static %}
{% block content %}
<section id="main-content">
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <header class="panel-heading">
                        Course  Details For {{object.course_name}}
                    </header>
                    <div class="panel-body" style="overflow-x:auto;">
                        <table class="table table-bordered table-striped table-condensed">
                            <tbody>
                                <tr>
                                    <td>Stream Name</td>
                                    <td>{{object.stream}}</td>
                                </tr>
                                <tr>
                                    <td>Course Name</td>
                                    <td>{{object.course_name}}</td>
                                </tr>
                                <tr>
                                    <td>Course Code</td>
                                    <td>{{object.course_code}}</td>
                                </tr>
                                <tr>
                                    <td>Course Aliases</td>
                                    <td>{{object.course_aliases}}</td>
                                </tr>
                                <tr>
                                    <td>Duration</td>
                                    <td>{{object.duration}}</td>
                                </tr>
                                <tr>
                                    <td>Approved Date</td>
                                    <td>{{object.approved_date}}</td>
                                </tr>
                                <tr>
                                    <td>Affiliated Body</td>
                                    <td>{{object.affiliated_body}}</td>
                                </tr>
                                <tr>
                                    <td>Exam Pattern</td>
                                    <td>{{object.exam_pattern}}</td>
                                </tr>
                                <tr>   
                                    <td>Remarks</td>
                                    <td>{{object.remark}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}